<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head") %> 

<body>
    <%- include("./partials/header") %> 

    <h1><%= movie.title %></h1>
    <img src="/images/movies/<%= movie.images %>" alt="">
    <p>rating: <%= movie.rating %></p>
    <p>duracion: <%= movie.length %></p>
    <p>premios: <%= movie.awards %></p>
    <p>fecha de estreno: <%= movie.release_date %></p>
    <a href="/movies/edit/<%= movie.id %>">Editar Pelicula</a>

    <form action="/movies/delete/<%= movie.id %>" method="POST">
        <button>Eliminar Pelicula</button>
    </form>

</body>
</html>