<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body>
    <h1><%= movie.title %></h1>
    <p>rating: <%= movie.rating %></p>
    <p>duracion: <%= movie.length %></p>
    <p>premios: <%= movie.awards %></p>
    <p>fecha de estreno: <%= movie.release_date %></p>
    <a href="/movies/edit/<%= movie.id %>">Editar Pelicula</a>

    <form action="/movies/delete/<%= movie.id %>" method="POST">
        <button>Eliminar Pelicula</button>
    </form>

</body>
</html>