<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head") %>
<body>
    <%- include("./partials/header") %>

    <h1>Perfil de <%= detail.name %></h1>




    <!-- Valido si el usuario con session sigue al usuario del perfil visto -->
    <%  if( loSigue) { %>
        <form action="/users/dejarSeguir/<%= detail.id %> " method="POST">
            <button>Dejar de seguir</button>
        </form>
    <%  } else { %>
        <form action="/users/seguir/<%= detail.id %> " method="POST">
            <button>Seguir</button>
        </form>
    <%  } %>  
</body>
</html>